<div class="header">
  <div class="header__logo">
    <!-- <nz-icon nzType="R_and_MLogo.svg" nzTheme="outline"/> -->
     <img src=" /assets/R_and_MLogo.svg" alt="logo">
  </div>
  <div class="header__search">
    <div class="header__search__input">
      <input type="search" placeholder="Введите персонажа">
    </div>
    <div class="header__search__button">
      <button><nz-icon nzType="search" nzTheme="outline" /></button>
    </div>
  </div>

  <div class="header__burger-menu">
    <ul nz-menu nzMode="horizontal">
      <li nz-submenu nzTitle="menu" nzIcon="menu">
        <ul>
          <li nz-menu-item>Option 1</li>
          <li nz-menu-item>Option 2</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="header__favorites">
    <button><nz-icon nzType="save" nzTheme="outline" class="favorites"/></button>
  </div>
</div>