<cdk-virtual-scroll-viewport
  itemSize="620"
  class="scroll-view"
  appScrollEnd
  (isScroll)="loadPage()"
  >
    @let characters = matrix$ | async;
    <div class="characters" *cdkVirtualFor="let row  of characters">
      @for ( character of row; track $index) {
        <div class="character">
          <div class="character__img"><img [src]="character.image"></div>
            <div class="character__name">
              <a [routerLink]="['/home',character.id]" routerLinkActive="active" >{{character.name}}</a>
            </div>
            <div class="character__status" [ngClass]="character.status.toLowerCase()">
              <p>{{character.status}} - {{character.species}}</p>
            </div>
            <div class="character__created">
              <p class="character__text">First seen in:</p>
              <p>{{character.created | date}}</p>
            </div>
            <div class="character__location">
              <p class="character__text">Last known location:</p>
              <p>{{character.location.name}}</p>
            </div>
            <div [class]="character.type ? 'character__type' : 'hidden'">
              <p class="character__text">character type:</p>
              <p>{{character.type}}</p>
            </div>
          </div>
          }
      </div>
</cdk-virtual-scroll-viewport>

<router-outlet></router-outlet>
